body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 1200px;
}

@media (max-width: 1200px) {
    body {
        margin: 20px;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.breadcrumb {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline;
    margin-right: 10px;
}

.breadcrumb li::after {
    content: '>';
    margin: 0 10px;
}

.breadcrumb li:last-child::after {
    content: none;
}

.breadcrumb li a {
    text-decoration: none;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #007bff;
    color: white;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    height: 40px;
}

.btnlink {
    color: black;
    cursor: pointer;
    padding: 5px;
    /* height: 24px; */
    border: none;
    border-radius: 1px;
    font-size: 12px;
}

.btnlink-danger {
    color: white;
    background-color: crimson;
}

.btnlink-primary {
    color: white;
    background-color: #007bff;
}