{{ define "admin/index.html" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<ul class="breadcrumb">
    <li><a href="/auth/login">Главная</a></li>
    <li>Админ панель</li>
</ul>

<h1>Админ-панель</h1>

<ul>
    <li><a href="/admin/users">Пользователи</a></li>
    <li><a href="/admin/applications">Приложения</a></li>
</ul>

</body>
</html>
{{ end }}