{{ define "modules/modal.html" }}
<style>
    /* Стили для модального окна */
    dialog[open] {
        display: block !important;
    }
    .modal {
        display: none; /* Скрываем окно по умолчанию */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    .modal .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .modal .close:hover,
    .modal .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<dialog class="modal">
    <div class="modal-content">
        <p>Вы уверены?</p>
        <button type="button" class="btnlink btnlink-danger" onclick="closeModal()" aria-label="Close modal">Отмена</button>
        <button type="button" class="btnlink btnlink-primary" onclick="confirmSubmit()">Да</button>
    </div>
</dialog>
<script>
    const modal = document.querySelector('.modal');
    function confirmSubmit() {
        modal.close(); // Закрываем модальное окно
        form?.submit(); // Отправляем форму
    }
    function closeModal() {
        modal.close(); // Закрываем модальное окно
    }
</script>
{{ end }}